---
import Layout from "../layouts/Layout.astro"
import HomePageTabs from "../components/HomePageTabs.astro"
import Slideshow from "../components/Slideshow.astro"
import MapComponent from "../components/Map.astro"
import FAQ from "../components/FAQ.astro"
import { getCollection } from "astro:content"
import { getImage, Image } from "astro:assets"
import { compareDesc } from "date-fns"
import WhatToExpectContent from "../data/eventTabs.json"
import faqs from "../data/faqs.json"

const blogEntries = await getCollection("blog").then((entries) =>
	entries.sort((a, b) =>
		compareDesc(new Date(a.data.date), new Date(b.data.date)),
	),
)
const latestEntry = blogEntries[0]

import roseAndBoard from "../images/roseandboard.png"
import lightRail from "../images/lightrail.png"
const optimizedRoseAndBoard = await getImage({ src: roseAndBoard })

const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/images/photos/*.{jpg,jpeg,png}",
)

const whatToExpectWithOpimizedImages = await Promise.all(
	WhatToExpectContent.map(async (event) => ({
		...event,
		image: images[event.image]
			? await getImage({ src: images[event.image](), width: 600 })
			: undefined,
	})),
)

const basePath = "/website/"
---

<Layout title="US Go Congress 2024">
	<div class="bg-agablue">
		<div class="relative">
			<div
				style={`background-image: url('${optimizedRoseAndBoard.src}');`}
				class="relative bg-cover bg-right sm:py-8 lg:py-16 py-[20px]"
			>
				<!-- Positioning and styling for the overlay -->
				<div
					class="flex-col items-center gap-[10px] mx-[20px] bg-white/90 p-4 max-w-xl rounded-[25px]"
				>
					<h1
						class="leading-tight text-center text-[48px] font-bold font-open-sans"
					>
						US Go Congress 2024
					</h1>
					<h2 class="text-xl md:text-3xl font-open-sans">July 13-21</h2>
					<p class="font-sans">
						Registration for the 40th annual US Go Congress is now open! Book now to take advantage of early bird rates!
					</p>
					<a href={`${basePath}/registration`}
						><button class="px-4 py-2 bg-agagreen text-white rounded-[10px]"
							>Find Out More</button
						></a
					>
				</div>
			</div>
		</div>
		<section class="mb-4 mx-4 text-white">
			<h2 class="text-[48px] font-open-sans font-bold mb-2">
				News
			</h2>
			<h4 class="text-[20px] font-sans mb-4">
				Check back regularly to keep track of registration updates and
				announcements, pro spotlights, and more!
			</h4>
			<div class="flex flex-col md:flex-row gap-8">
				<div class="w-full md:w-1/2">
					<iframe
						class="w-full aspect-video"
						src="https://www.youtube.com/embed/0zKT6UBexOc?si=wRLJkdvkp7smoe1m"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						allowfullscreen></iframe>
				</div>
				<div class="w-full md:w-1/2">
					<a href={`${basePath}blog/${latestEntry.slug}`}
						><h3 class="text-[36px] font-semibold font-open-sans">
							{latestEntry.data.title}
						</h3></a
					>
					<h5 class="font-sans text-[20px] font-semibold ml-[20px] mb-[20px]">
						by {latestEntry.data.author}
					</h5>
					<div class="font-sans">
						<p>{latestEntry.data.excerpt}</p>
					</div>
					<a class="font-bold" href={`${basePath}blog/${latestEntry.slug}`}
						>Read more</a
					>
				</div>
			</div>
		</section>
		<section class="mx-4 mb-48">
			<h3 class="font-open-sans font-bold text-[48px] text-white">
				What to Expect
			</h3>
			<div class="ml-4 font-sans text-white text-[20px] mb-8">
				There are a variety of events that are held every year at Congress, from
				tournaments to pro lectures to excursions and community events. Some of
				these are different from year to year depending on the location, so
				here’s an idea of what we have planned so far for this year’s Congress.
			</div>
			{
				whatToExpectWithOpimizedImages.map((event) => (
					<div class="ml-4">
						<h4 class="font-open-sans font-bold text-[32px] text-white">
							{event.title}
						</h4>
						<div class="flex flex-col md:flex-row gap-12 justify-between ml-4">
							<div class="font-sans text-[20px] text-white">
								{event.description}
							</div>
							<img class="w-full md:w-[200px]" src={event.image?.src} />
						</div>
					</div>
				))
			}
		</section>
		<section class="mx-8">
			<h2
				class="font-open-sans text-center mb-8 w-full font-bold text-[40px] md:text-[48px] text-white"
			>Why Portland</h2>
			<div class="font-sans text-[20px] text-white">
				Portland, OR is a gorgeous, walkable city! We have lots of delicious food, and a gorgeous venue at Portland State University. From the Japanese Garden to Powells City of Books, there are plenty of attractions to keep you busy when you're not enjoying a week of amazing Go games and lectures!
			</div>
		</section>
		<Slideshow />
		<section class="mx-8">
			<h2
				class="font-open-sans text-center mb-8 w-full font-bold text-[40px] md:text-[48px] text-white"
			>
				Costs
			</h2>

			<div class="font-sans text-[20px] text-white">
				<p>Enjoy early bird rates until March 15!</p>

				<table>
					<tr><td>Adult Member</td><td><strike>$450</strike> $400!</td></tr>
					<tr><td>Youth (Age 22 or lower)</td><td><strike>$225</strike> $200!</td></tr>
					<tr><td>Non-participant</td><td><strike>$110</strike> $100!</td></tr>
				</table>
			</div>

			<div class="font-sans text-[20px] text-white">
				<p>To help offset the cost for young people attending the Congress, the <a href="http://agfgo.org/">American Go Foundation</a> (AGF) provides scholarship funding.</p>

				<h3 class="font-open-sans text-center mb-8 w-full font-bold text-[30px] md:text-[36px] text-white">Youth Scholarships</h3>
				<p>Youth who played in any of the main online events (Redmond Cup, North American Kyu Championship, AGA Girls Cup) can apply for a $200 Tournament Scholarship.</p>

				<p>Youth may also apply for a separate $300 by writing an essay, for a total of $500 per person.  There are 20 scholarships allotted for the US, with 5 more for Canada and Mexico.  All scholarships are first-come first-serve.</p>
				
				<p>Apply for either or both scholarships by filling out an application for youth scholarships.</p>

				<h3 class="font-open-sans text-center mb-8 w-full font-bold text-[30px] md:text-[36px] text-white">College-Age Scholarships</h3>

				<p>Participants must be 26 or younger and actively enrolled in college.  Graduate and undergraduate students are both eligible for a $200 scholarship. All scholarships are first-come first-serve, with 20 allotted for the US and 5 allotted to be split between Canada and Mexico.</p>

				<p><a href="https://agfgo.bubbleapps.io/version-test">Apply for College-Age Scholarship</a>  <b>Note:</b> choose the College option from the top menu to pull up the correct form.</p>
			</div>
		</h2>
		<section class="mx-8">
			<h2
				class="font-open-sans text-center mb-8 w-full font-bold text-[40px] md:text-[48px] text-white"
			>
				Housing and Transportation
			</h2>
			<div class="flex flex-col md:flex-row w-full gap-6 h-[480px]">
				<MapComponent class="w-full md:w-1/2 aspect-square" />
				<div class="w-full md:w-1/2 h-auto">
					<h3
						class="font-open-sans mb-8 font-semibold text-[40px] text-white text-center"
					>
						Housing Options
					</h3>
					<div class="font-sans text-[20px] text-white">
						<p>The 2024 US Go Congress has partnered with Portland State University
						and several nearby hotels to offer a variety of housing options
						within convienient walking distance of the Go Congress venue.</p>

						<ol>
							<li><a href="#">University Place Hotel</a>. An affordable hotel offering private rooms on a budget.<li>
							<li><a href="#">Hotel Zags</a>. Upscale accommodations, offering suites and rooms.<li>
							<li><a href="#">Hotel Vance</a>. Chic, modern hotel offering standard rooms.<li>
							<li><a href="#">Ondine Hall & Broadway Hall</a>. Low-cost dormitory accommodations.<li>
						</ol>

						<p>More details are available on our <a href="registration/housing">housing page.</a></p>
					</div>
				</div>
			</div>
			<div class="flex flex-col md:flex-row w-full gap-6">
				<div class="w-full h-auto">
					<h3
						class="font-open-sans mb-8 font-semibold text-[40px] text-white text-center"
					>
						Transportation
					</h3>
					<div class="font-sans text-[20px] text-white">
						It is not necessary to rent a car or take a taxi to get to the Go
						Congress! For just $2.90, you can take the MAX Light Rail system
						from the airport directly to the Portland State University campus.
					</div>
				</div>
				<div class="w-full h-auto">
					<Image src={lightRail} alt="Light Rail" />
				</div>
			</div>
		</section>
		<div class="font-open-sans text-[48px] text-white mt-12 mx-[20px]">
			Frequently Asked Questions
		</div>
		{
			faqs.map((faq, i) => (
				<div class="mx-[40px]">
					<div class="font-open-sans text-[20px] ml-4 font-semibold text-white mt-12">
						{faq.question}
					</div>
					<div class="font-sans text-[20px] ml-4 text-white">{faq.answer}</div>
				</div>
			))
		}
		<div
			class="mt-28 mb-8 text-white text-center text-[24px] md:text-[48px] font-open-sans"
		>
			So what are you waiting for?
		</div>
		<div class="flex justify-center w-full mb-20">
			<a
				href={`${basePath}registration/`}
				class="py-[23px] mx-auto px-[98px] rounded-[50px] bg-agagreen text-white font-open-sans text-[24px] md:text-[48px]"
				>Register Now</a
			>
		</div>
	</div>
</Layout>
